<div class="card">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img [src]="img" title="{{ artistName }}" class="card-img" [alt]="artistName">
      <h4>Genre</h4>
      <ul>
        <li  *ngFor="let tag of tags">{{tag.name}}</li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">Artist: {{ artistName }}</h2> 
        <p class="card-text"><strong>Biography: </strong>  <span [innerHtml]="bio"></span></p> 
      </div>
    </div>
  </div>
</div>