<app-music-search (forSearch)="searchMusic($event)"></app-music-search>
<div class="row card-group">
  <div class="col-6 py-2" *ngFor="let item of musicItems | musicSearch: term : searchProperty">
    <app-track-card 
      (musicArtist)="getArtist($event)" 
      [artist]="item.artist" 
      [duration]="item.duration"
      [image]="item.image[3]" 
      [listeners]="item.listeners" 
      [name]="item.name"
      [url]="item.url" 
      [mbid]="item.mbid"
    ></app-track-card>    
  </div>
  <div *ngIf="musicItems.length === 0" >    
    <h4>No data</h4>
  </div>
</div>
