<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['']"><img class="img-fluid" src="https://www.freeiconspng.com/uploads/music-red-symbol-free-icon-27.png" alt="" srcset=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto" >
                <li class="nav-item">
                        <a 
                            [routerLink]="['']" 
                            routerLinkActive="active" 
                            class="nav-link" 
                            href="#">Home<span class="sr-only">(current)</span>
                        </a>
                    </li>
        <li class="nav-item" *ngIf="!isLogIn">
            <a 
                [routerLink]="['/signup']" 
                routerLinkActive="active" 
                class="nav-link" 
                href="#">Sign Up <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item" *ngIf="!isLogIn">
            <a 
                [routerLink]="['/login']" 
                routerLinkActive="active" 
                class="nav-link" 
                href="#">Log In <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item" (click)="logOut()" *ngIf="isLogIn">
                <a routerLinkActive="active" 
                    class="nav-link" 
                    >Log Out <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
