
<div class="wrapper">
  <div class="track-card">
    <div class="track-card_image">
      <img  class="card-img h-100" [src]="imgUrl" alt="{{artist.name}}" />
    </div>
    <div appPointer class="track-card clash-card-artist" (click)="detailArtist()">Artist: {{ artist.name }}</div>
    <div class="track-card-song">Song: {{ name }}</div>
    <div class="track-card-duration">
        Duration: {{ duration/60 | number:'2.0-0'  }}:{{ duration%60 | number:'2.0-0'}}
    </div>
  </div> <!-- end clash-card barbarian-->
</div>
